/* font-family: 'Playfair Display', serif; */
/* font-family: 'Ubuntu', sans-serif; */
*{
    margin: 0;
    padding: 0;
}

header{

width: 90%;

overflow: hidden;

margin: auto;

margin: 30px;
}

.logo{

width: 20%;

float: left;
}

nav{

width: 50%;

float: right;
}
nav ul{

list-style: none;

overflow: hidden;

float: right;
}

nav ul li{

float: left;

margin-left: 40px;
}

nav ul li a{
    
text-decoration: none;
    
color: #626262;
    
text-transform: uppercase;
    
font-size: 16px;
font-family: 'Playfair Display', serif;
}



.banner{

width: 90%;

margin: auto;

margin-top: 30px;
}

.banner img{

width: 100%;
}

.photodairy{

width: 80%;

margin: auto;

margin-top: 70px;

margin-bottom: 70px;
}

.photodairy h1{

color: #626262;

font-size: 30px;

margin-bottom: 20px;
font-family: 'Playfair Display', serif;
}

.photodairy h5{

color: #b4ad9e;

text-transform: uppercase;

margin-bottom: 20px;

font-size: 16px;

font-family: 'Ubuntu', sans-serif;
}

.photodairy p{

color: #626262;

margin-bottom: 30px;
font-family: 'Playfair Display', serif;
}

.photodairy h6{
    
color: #b4ad9e;
    
text-transform: uppercase;
    
font-size: 14px;
    
font-weight: 400;
font-family: 'Ubuntu', sans-serif;
}

.lifestyle{

width: 80%;

overflow: hidden;

margin: 70px auto 50px auto;
}

.lifestyle_one{

width: 47%;

float: left;
}

.lifestyle_one h5{
    
color: #b4ad9e;
    
font-size: 16px;
    
text-transform: uppercase;
    
margin: 20px 0px;
    
font-weight: 400;
font-family: 'Ubuntu', sans-serif;
}

.lifestyle_one img{
    
width: 100%;
}


.lifestyle_one h1{
    
color: #626262;
    
font-size: 30px;
    
margin-bottom: 20px;
    
font-family: 'Playfair Display', serif;
}

.lifestyle_one p{
    
color: #626262;
    
margin-bottom: 30px;
    
font-family: 'Playfair Display', serif;
}


.lifestyle_two{

width: 47%;

float: right;
}

.lifestyle_two h5{
    color: #b4ad9e;
    
font-size: 16px;
    
text-transform: uppercase;
    
margin: 20px 0px;
    
font-weight: 400;
font-family: 'Ubuntu', sans-serif;

}

.lifestyle_two img{

width: 100%;
}


.lifestyle_two h1{
    color: #626262;
    
font-size: 30px;
    
margin-bottom: 20px;
    
font-family: 'Playfair Display', serif;

}

.lifestyle_two p{
        
color: #626262;
    
margin-bottom: 30px;
    
font-family: 'Playfair Display', serif;

}

.signup{

background: #f0f0f0;

padding: 100px 0;
}

.newsletter{

width: 370px;

margin: auto;
}

.newsletter h1{

color: #333333;

font-size: 30px;

margin-bottom: 70px;
font-family: 'Playfair Display', serif;
}

.newsletter input{

border: none;

border-bottom: 1px solid black;

background: transparent;

width: 100%;

padding-bottom: 5px;
}

.newsletter input:focus{
    outline: none;
}

.newsletter input::placeholder{
    font-family: 'Playfair Display', serif;
    color: #333333;

}
    
.btn{

padding: 100px;

text-align: center;
}

.btn button{

background: transparent;

border: none;

border: 1px solid #333;

padding: 10px 20px;

font-size: 20px;

font-family: 'Playfair Display', serif;
}

footer{

background: #f0f0f0;

padding: 30px 0;
}

.footer_content{

width: 80%;

margin: auto;

overflow: hidden;
}

.terms{

width: 30%;

float: left;
}

 .terms ul{

list-style: none;

}

 .terms ul li{

margin-right: 20px;

float: left;

}
 .terms ul li a{

text-decoration: none;

text-transform: uppercase;

font-size: 14px;

color: #000000;

}

 .social_icon{

width: 30%;

float: right;

overflow: hidden;
}
 
 
 .social_icon ul{

list-style: none;

float: right;
}

.social_icon ul li{

float: left;

margin: 10px;
}

.social_icon ul li a{

text-decoration: none;

font-size: 14px;

color: #000000;

text-transform: uppercase;
} 